# Ignore specific Hyprland configs I don't want to track (yet)
hypr/.config/hypr/envs.conf
hypr/.config/hypr/hyprsunset.conf
hypr/.config/hypr/monitors.conf

# Ignore Hyprland runtime files & logs
hypr/.config/hypr/hyprland.log
hypr/.config/hypr/hyprland.socket
*.log

# Ignore cache and temporary directories
hypr/.config/hypr/cache/
hypr/.config/hypr/tmp/

# Ignore temporary editor files
*.swp
*.un~
